<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit-Blog</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="blog">

    <div class="blogContainer edit_blog_container">
        <a class="home_tag" href="/home"><i class="fa-solid fa-house"></i></a>

        <h2>Edit your Blog</h2>
        <form id="blogForm" action="/blogposts/<%= post._id %>" data-method="PUT">
            <p>Blog title</p>
            <input type="text" placeholder="Insert title name" id="title" name="title" value="<%= post.title %>"required>
            <p>Blog content</p>
            <textarea placeholder="Insert text here" id="content" name="content" required><%= post.body %></textarea>
            <div class="btnFlex">
                <button class="btnStyle" id="editButton" type="submit">Update</button>
            </div>
        </form>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>